@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        @apply bg-gray-800 rounded-3xl flex-col gap-8 px-6 py-10;
    }
    .rateoption {
        display: inline-block;
        /* border: 1px solid red; */
        padding: 10px 18px;
        border-radius: 50%;
    }
    .rateoption_basestate {
        background-color: rgba(60, 55, 78, 0.411);
        color: rgba(255, 255, 255, 0.4);
    }
    .rateoption_activestate {
        background-color: rgb(151, 143, 127);
        color: white;
    }
    .rateoption:hover {
        cursor: grab;
        background-color: rgb(228, 76, 30);
        transition: ease 0.3s;
    }
    .submit_btn:active {
        color: orange;
        background-color: white;
        transition: ease 0.1s;
    }
    .submit_btn:focus {
        outline: rgb(189, 150, 150) solid 3px;
    }
    .submit_btn:disabled {
        background-color: rgb(53, 52, 52);
        opacity: 0.3;
    }
    .attribution {
        max-width: 85%;
        padding: 5px 20px;
        margin-left: auto;
        margin-right: auto;
        color: rgb(99, 103, 112);
        font-size: 11px;
        text-align: center;
    }
    .attribution a {
        color: hsl(228, 69%, 81%);
    }
}

