@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .rateoption {
        display: inline-block;
        /* border: 1px solid red; */
        background-color: rgba(60, 55, 78, 0.411);
        color: rgba(255, 255, 255, 0.4);
        padding: 10px 18px;
        border-radius: 50%;
    }
    .rateoption:hover {
        cursor: grab;
        background-color: rgb(228, 76, 30);
        transition: ease 0.3s;
    }
    .submit_btn:active {
        transition: ease 0.1s;
    }
    .submit_btn:focus {
        outline: rgb(189, 150, 150) solid 3px;
    }
    .attribution {
        font-size: 11px;
        text-align: center;
    }
    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}

